.col-sm-8 {
  .glyphicon {
    cursor: pointer;
  }
  
  span {
    font-size: 1.8rem;
    color: #9e9e9e;
    display: block;
  }

  h2 {
    display: inline-block;
  }

  p {
    margin: 15px 0;
  }
}

img {
  width: 300px;
  height: 300px;
}

.cta {
  text-align: center;

  .price {
    font-size: 3rem;
    padding: 10px;
  }

  .btn-purchase {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 3rem;
    color: #ffffff;
    background-color: #2D94C5;
    box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);
    transition: all 250ms ease;

    &:hover {
      box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, .24);
    }
  }
}

.btn {
  border-radius: 0;
  padding: 10px 25px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);
  transition: all 250ms ease;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1.6rem;
  float: left;
  margin-top: 20px;

  &.delete-book {
    background-color: #d9534f;
  }

  &:hover {
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, .24);
  }
}
