<div class="col-sm-12 col-md-8 col-lg-9 thumbnail pull-right">
  <div *ngIf="book">
    <div class="col-sm-8">
      <span *ngIf="userId && checkIfInWishList(book.id)" class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span *ngIf="userId && !checkIfInWishList(book.id)" class="glyphicon glyphicon-star-empty" aria-hidden="true" (click)="addBookToWishList(book.id)"></span>
      <h2>{{ book.title }}</h2>

      <span>ספר מאת: {{ book.author }}</span>
      <p>{{ book.description }}</p>
      <p class="bold">מלאי: {{ book.inventory }}</p>
    </div>

    <div class="col-sm-4 cta">
      <img src="{{ 'data:image/png;base64,' + book.picture }}">
      <div class="price">
        <p>מחיר: ₪{{ book.price }}</p>
      </div>
      <button *ngIf="userId" [disabled]="!book.inventory" class="btn btn-purchase" (click)="addBookToCart(book.id)">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        הוסף לעגלה
      </button>
      <a *ngIf="isAdmin" class="btn delete-book" (click)="deleteBook()">מחק ספר</a>
    </div>
  </div>
</div>
