@mixin search-input {
  font-size: 20px;
  height: 50px;
  direction: rtl;
}

header {
  #user-actions {
    width: 100%;
    height: 5rem;
    background: #223542;
    color: #c0c0c0;
    margin: 0;

    a {
      text-decoration: none;
      color: #c0c0c0;
      line-height: 5rem;
      margin-left: 3rem;
    }
  }

  #search {
    margin: 1.2% 0;

    .input-group {
      direction: ltr;
      width: 80%;

      @media (max-width: 768px) {
        width: 100%;
      }

      input {
        @include search-input;
      }


      .btn {
        &.btn-default {
          @include search-input;
          width: 50px;
          background-color: #279faf;
          background-image: none;
          color: #ffffff;
          box-shadow: inset 0 -4px 0 0 #1f8694;
          transition: all 350ms ease;

          &:hover {
            background-color: #1f8b99;
            box-shadow: inset 0 -1px 0 0 #1f8694;
          }
        }
      }
    }
  }

  #hero-image {
    width: 100%;
    height: 30rem;
    vertical-align: top;
    overflow-y: hidden;
    margin: 0;

    img {
      width: 100%;
    }
  }
}
