@mixin search-input {
  font-size: 20px;
  height: 50px;
  direction: rtl;
}

header {
  #user-actions {
    width: 100%;
    height: 5rem;
    background: #223542;
    color: #c0c0c0;
    margin: 0;

    a {
      text-decoration: none;
      color: #c0c0c0;
      line-height: 5rem;
      margin-left: 3rem;
      cursor: pointer;
    }
  }

  #logo {
    cursor: pointer;
  }

  #cart {
    a {
      cursor: pointer;
    }
  }

  #search {
    margin: 1.2% 0;

    .input-group {
      direction: ltr;
      width: 80%;

      @media (max-width: 768px) {
        width: 100%;
      }

      input {
        @include search-input;
      }

      .btn {
        &.btn-default {
          @include search-input;
          width: 50px;
          background-color: #279faf;
          background-image: none;
          color: #ffffff;
          box-shadow: inset 0 -4px 0 0 #1f8694;
          transition: all 350ms ease;

          &:hover {
            background-color: #1f8b99;
            box-shadow: inset 0 -1px 0 0 #1f8694;
          }
        }
      }
    }
  }

  #hero-image {
    width: 100%;
    height: 30rem;
    vertical-align: top;
    overflow-y: hidden;
    margin: 0;

    img {
      width: 100%;
    }
  }
}

#loginModal {
  background-color: rgba(5, 28, 44, .83);

  .modal-content {
    width: 750px;
  }

  .close {
    margin: 20px;
    font-size: 100px;
    color: #ffffff;
  }

  .model-footer {
    width: 350px;

    .btn {
      border-radius: 0;
      padding: 10px 25px;
      box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);
      transition: all 250ms ease;
      border-radius: 4px;
      color: #ffffff;
      font-size: 1.6rem;
      margin: 0 10px 10px 10px;

      &.btn-login {
        background-color: #37aae0;
        width: 250px;
      }

      &:hover {
        box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, .24);
        background-color: #2d94c5;
      }
    }
  }

  .form-group {
    padding: 20px;
  }

  .modal-dialog {
    width: 75rem;
    margin-top: 180px;
  }

  .hero-image {
    float: right;
    width: 45%;
    display: inline-block;

    img {
      width: 354px;
    }
  }

  .login-content {
    width: 50%;
    display: inline-block;

    .input-group {
      direction: ltr;

      input {
        direction: rtl;
      }
    }

    .modal-title {
        text-align: center;
        font-weight: bold;
    }
  }
}
