<header>
  <!-- The actions bar -->
  <div id="user-actions" class="row">
    <div class="col-sm-12 col-md-10">
      <a href="#">רשימת הקניות שלי</a>
      <a href="#">התחבר</a>
    </div>
  </div>

  <!-- The main header part -->
  <div class="container-fluid">
    <div class="row">
      <!-- Website logo -->
      <img id="logo" class="col-xs-12 col-sm-4 col-md-offset-1 col-md-3" src="/book4u-logo.svg" />

      <!-- Search input -->
       <div id="search" class="col-sm-4">
         <div class="input-group">
           <input type="text" class="form-control" placeholder="חפש ספר / מחבר">
           <span class="input-group-btn">
             <button class="btn btn-default" type="button">
               <i class="fa fa-search" aria-hidden="true"></i>
             </button>
           </span>
        </div>
      </div>

      <!-- Cart -->
      <div class="col-sm-4 col-md-2">
        <h3>עגלת קניות</h3>
        <a>3 פריטים | 240.00 ₪</a>
      </div>
    </div>
  </div>

  <!-- Hero image - parallax -->
  <div id="hero-image" class="row">
    <img src="/hero-image-default.jpg" />
  </div>
</header>
