<div class="col-sm-12 col-md-4 col-lg-3 thumbnail pull-right">
  <div>
    <img src="{{ book.cover_image }}">
  </div>
  <div class="thumbnail-content">
    <h3>{{ book.title }}</h3>
    <img src="{{ 'data:image/png;base64,' + book.picture }}">
    <span>{{ book.author }}</span>
    <div class="price">
      <p>{{ book.price }}₪</p>
    </div>
    <div class="btn-action">
      <button class="btn btn-purchase">רכישה</button>
      <button class="btn btn-read-more" (click)="onSelect(book)">קרא עוד</button>
    </div>
  </div>
</div>
