.list {
  .item {
    text-align: right;
    border: 1px solid #e4e4e4;
    border-radius: 0;
    padding: 1rem;
    display: block;

    &:hover {
      border-right: 3px solid #279faf;
      background-color: #fcfcfc;
      color: #279faf;
    }

    .header {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 400;
      padding: 0.5rem;
    }
  }
}
